@media (max-width: 400px) {
    .header__nav li + li {
        margin-left: 15px;
    }

    .welcome__heading {
        font-size: 39px;
        margin-bottom: 50px;
    }

    .welcome__links a {
        display: block;
        width: 65%;
        margin-right: auto;
        margin-left: auto;
    }

    .welcome__links > * + * {
        margin-top: 15px;
    }

    body p{
        font-size: 13px;
    }

    .about .card h4 {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .services .cards-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .services .card {
        width: 80%;
    }

    .title-wrapper {
        margin-bottom: 40px;
    }

    .services .card .link {
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    .tabs__nav button {
        display: flex;
        margin: 0 auto;
        padding: 10px 30px;
    }

    .tabs__nav button + button {
        margin-left: auto;
        margin-top: 10px;
    }

    .tabs__nav {
        margin-bottom: 30px;
    }
}

@media (max-width: 829px) {
    .footer__container {
    justify-content: space-evenly;
    }
}