body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    font-size: 14;
    line-height: 1.8;
    color: #6A859C;
}

.hide {
    display: none !important;
}

/* HEADER */

.header {
    padding: 20px 0;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: #fff;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    letter-spacing: 4px;
    color: #69b9ff;
    text-transform: uppercase;
}

.header__nav ul{
    display: flex;
}

.header__nav li + li {
    margin-left: 40px;
}

.header__nav a {
    font-size: 16px;
    color: #676770;
    transition: color 0.2s;
}

.header__nav a:hover {
    color: #0082F3;
}


.header__nav a:active {
    color: #0062b6;
}


/* WELCOME */


.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: url("../img/welcome-bg.png");
    background-size: cover;
    background-position: center;
    background-color: #676770;
}

.welcome__heading {
    font-size: 59px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 100px;
}

.welcome__links > * + * {
    margin-left: 20px;
}

.link-primary {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 30px;
    transition: background-color 0.2s;
}

.link-primary:hover {
    padding: 11px 31px;
    border: 0;
    background-color: #7cc2ff;
}

.link-primary:active {
    background-color: #0f8fff;
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #fff;
    border-radius: 4px;

    transition: background-color 0.2s;
    transition: border-color 0.2s;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.5);
}


/* ABOUT */


.about {
    text-align: center;
}

.common-section {
    text-align: center;
    padding: 80px 0;
}

.title-wrapper {
    margin-bottom: 64px;
}

.about__title {
    margin-bottom: 17px;

    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
}

.about__subtitle {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8e8e9c;
}

.about .cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about .card {
    padding: 36px 16px 24px;
    max-width: 300px;
    border: 1px solid #DCEBF7;
    box-sizing: border-box;
    border-radius: 5px;
}

.card__title {
    margin-bottom: 15px;

    font-size: 20px;
    letter-spacing: 7px;
    color: #676770;
    line-height: 1.5;
    text-transform: uppercase;
}

.card__subtitle {
    font-size: 14px;
    color: #6A859C;
    line-height: 1.8;
}

.about .card img {
    margin-bottom: 20px;

    width: 94px;
    height: 94px;
    object-fit: contain;
}




/* SERVICE */


.common-section--dark {
    background-color: #192024;
}

.common-section--dark * {
    color: #fff;
}

.common-section--dark .card__subtitle {
    color: #d8d8d8;
}

.common-section--dark .about__subtitle {
    color: #d8d8d8;
}

.services {

}

.services .cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.services .card {
    width: 45%;
}

.services .card img {
    margin-bottom: 20px;
}

.services .link {
    margin-top: 20px;
}


/* TABS */


.tab-section {

}

.tabs__nav {
    margin-bottom: 50px;
}

.tabs__nav button {
    padding: 0 30px;

    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;

    background-color: #92A0AD;
    border-radius: 4px;
}

.tabs__nav button.active {
    background-color: #2E80B6;
}

.tabs__nav button + button {
    margin-left: 15px;
}

.tabs__item img {
    margin-bottom: 15px;
}

.tabs__item h4 {
    font-size: 31px;
    color: #676770;
    margin-bottom: 15px;
}

.tabs__item p {

}

.tabs__desc {
    max-width: 720px;
    margin: 0 auto;
}


/* FOOTER */



.footer h4 {
    font-size: 18px;
    line-height: 1.2;
    color: #676770;
    text-transform: uppercase;
    letter-spacing: 4px;

    margin-bottom: 25px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer__container > * {
    width: 30%;
    min-width: 220px;
}

.footer__desc {
    padding: 35px 0;
}

.footer__desc a {
    font-size: 13px;
    color: #668CAD;
}

.footer__social img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.footer__desc li {
    height: 30px;
    position: relative;
}

.footer__desc li::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #D5D5E0;
    right: 0;
    bottom: 0;
}

.footer__social li::before {
    width: calc(100% - 34px);
}

.footer__desc li + li {
    margin-top: 6px;
}

.footer__social img {
    margin-right: 10px;
}

.footer__copy {
    padding: 50px 0;
    background-color: #383838;
}

.footer__copy p {
    color: #9e9e9e;
    text-align: center;
}








.tabs__item {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0.3;
    } to {
        opacity: 1;
    }
}
